{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    // "prettier",
    "react-hooks", // react-hooks still not in standard-react
  ],
  "extends": [
    "standard",
    "standard-react",
    // "@react-native-community",
    "plugin:prettier/recommended",
    "prettier/react",
    "prettier/standard",
  ],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "react/jsx-handler-names": "off", // activated by stansard-react config
    "no-prototype-builtins": "off", // acticated by standard
    "prettier/prettier": [
      "warn",
      {
        "singleQuote": true,
        "printWidth": 140,
        "trailingComma": "all",
        "arrowParens": "avoid"
      }
    ]
  },
  "env":{
    "es6": true
  },
  "globals": { "fetch": false }
}
